{% extends "login_register_layout.html" %}

{% block title %}register{% endblock %}

{% block nav %}
  <li><a href={{ url_for('login') }}>Login</a></li>
  <li class="active"><a href={{ url_for('register') }}>Register</a></li>
{% endblock %}

{% block heading %}
<h1 align = "center">Register now!</h1>
<blockquote>
  FEATURING THE FASTEST AND MOST RELIABLE
  REAL-TIME ENGINE
    <footer><cite title="Source Title">Zilong Zhou</cite></footer>
</<blockquote >
{% endblock %}



  {% block checkbox %}
<div class="text-center">
  <div class="checkbox">
    <label>
      <input type="checkbox" name="checkbox" id="checkbox" required> I authorize this website to post all my reviews.
    </label>
  </div>

</div>
  {% endblock %}
