{% extends "login_register_layout.html" %}

{% block title %}register{% endblock %}

{% block nav %}
  <li><a href={{ url_for('login') }}>Login</a></li>
  <li class="active"><a href={{ url_for('register') }}>Register</a></li>
{% endblock %}

{% block heading %}
<h1 align = "center">Register now!</h1>
<blockquote>
  FEATURING THE FASTEST AND MOST RELIABLE
  REAL-TIME ENGINE
    <footer><cite title="Source Title">Zilong Zhou</cite></footer>
</<blockquote >
{% endblock %}



{% block form %}
<div class="form-group">
  <label for="displayname">Display name</label>
  <input type="text" class="form-control" name="displayname" id="displayname" placeholder="Display name" required>
</div>
{% endblock %}
